.table {
    background-color: #0b0c10;
}

.table {
    color: white;
    border: 1px solid #808080;
    width: 100%;
    border-collapse: collapse;
}

.table td {
    border: 1px solid white;
    padding: 15px 20px; 
    background-color: #000;
}

.table th {
    background: #808080;
    color: #fff;
    padding: 15px 20px;
}

.table td {
    text-align: center;
}